.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }

    .login-page {
        overflow-y: auto !important;
    }
}


@media (max-width:768px) {
    .footer-red-yellow {
        display: none !important;
    }
}


.btn-red {
    background-color: #dc3545;
    /* Bootstrap red */
    color: white;
    border: none;
}

.btn-yellow {
    background-color: #ffc107;
    /* Bootstrap yellow */
    color: black;
    border: none;
}

.btn-red:hover {
    background-color: #c82333;
}

.btn-yellow:hover {
    background-color: #e0a800;
}

.footer-red-yellow {
    background: linear-gradient(90deg, #dc3545, #ffc107);
    color: white;
}

.login-page {
    overflow-y: hidden;
    height: 100vh;

}